<div class='character-edit--personalities'>
  <h3 class='character-edit--header'>Personality</h3>
  <mat-form-field class='character-edit--field'>
    <textarea class='character-edit--field-textarea' matNativeControl placeholder='Personality Traits' [(ngModel)]="character.personalityTraits"></textarea>
  </mat-form-field>
  <mat-form-field class='character-edit--field'>
    <textarea class='character-edit--field-textarea' matNativeControl placeholder='Ideals' [(ngModel)]="character.ideals"></textarea>
  </mat-form-field>
  <mat-form-field class='character-edit--field'>
    <textarea class='character-edit--field-textarea' matNativeControl placeholder='Bonds' [(ngModel)]="character.bonds"></textarea>
  </mat-form-field>
  <mat-form-field class='character-edit--field'>
    <textarea class='character-edit--field-textarea' matNativeControl placeholder='Flaws' [(ngModel)]="character.flaws"></textarea>
  </mat-form-field>
</div>