<div class='character-edit--appearance'>
  <h3 class='character-edit--header'>Appearance</h3>
  <mat-form-field class='character-edit--field'>
    <input matNativeControl type='number' placeholder='Age' [(ngModel)]='character.age'>
  </mat-form-field>
  <mat-form-field class='character-edit--field'>
    <input matNativeControl type='text' placeholder='Height' [(ngModel)]='character.height'>
  </mat-form-field>
  <mat-form-field class='character-edit--field'>
    <input matNativeControl type='text' placeholder='Weight' [(ngModel)]='character.weight'>
  </mat-form-field>
  <mat-form-field class='character-edit--field'>
    <input matNativeControl type='text' placeholder='Eyes' [(ngModel)]='character.eyes'>
  </mat-form-field>
  <mat-form-field class='character-edit--field'>
    <input matNativeControl type='text' placeholder='Skin' [(ngModel)]='character.skin'>
  </mat-form-field>
  <mat-form-field class='character-edit--field'>
    <input matNativeControl type='text' placeholder='Hair' [(ngModel)]='character.hair'>
  </mat-form-field>
  <mat-form-field class='character-edit--field-description'>
    <textarea class='character-edit--field-textarea' matNativeControl placeholder='Appearance Description' [(ngModel)]='character.appearanceDescription'></textarea>
  </mat-form-field>
</div>