
@use '~@angular/material' as mat;

@import '../styles.scss';
@import '../globals.scss';
.app-header {

  &--background {
    background-color: mat.get-color-from-palette($dnd-character-manager-primary, 'default');;
    display: inline-block;
    width: 100%;
  }

  &--text {
    margin: 25px 0px 25px 50px;
    font-size: $font-size-xlg;
    line-height: $font-size-xlg;
  }
}

.app-viewport {
  margin: $element-spacing $page-margin;
}