<mat-card class='character-edit'>
  <h2 class=character-edit--title>{{character?.name || 'New Character'}}</h2>
  <app-basic-info [character]='character'></app-basic-info>
  <mat-divider [inset]="true"></mat-divider>
  <app-abilities [newCharacter]='newCharacter' [character]='character'></app-abilities>
  <mat-divider [inset]="true"></mat-divider>
  <app-combat-stats [character]='character'></app-combat-stats>
  <mat-divider [inset]="true"></mat-divider>
  <app-currencies [character]='character'></app-currencies>
  <mat-divider [inset]="true"></mat-divider>
  <app-inventory [character]='character'></app-inventory>
  <mat-divider [inset]="true"></mat-divider>
  <app-proficiencies [character]='character'></app-proficiencies>
  <mat-divider [inset]="true"></mat-divider>
  <app-features [character]='character'></app-features>
  <mat-divider [inset]="true"></mat-divider>
  <app-personality [character]='character'></app-personality>
  <mat-divider [inset]="true"></mat-divider>
  <app-backstory [character]='character'></app-backstory>
  <mat-divider [inset]="true"></mat-divider>
  <app-relationships [character]='character'></app-relationships>
  <mat-divider [inset]="true"></mat-divider>
  <app-appearance [character]='character'></app-appearance>
  <mat-divider [inset]="true"></mat-divider>
  <app-spell-list [character]='character'></app-spell-list>
</mat-card>