<mat-card class='login-form'>
  <mat-card-title class=login-form-title>Login</mat-card-title>
  <mat-card-content>
    <form class='login-form--holder'>
      <mat-form-field>
        <input class='login-form--field' matNativeControl type='text' placeholder='username'>
      </mat-form-field>
      <mat-form-field>
        <input class='login-form--field' matNativeControl type='password' placeholder='password'>
      </mat-form-field>
      <button class='login-form--submit' mat-raised-button color=primary>Login</button>
    </form>
  </mat-card-content>
</mat-card>
