$font-size-xlg: 3rem; 
$font-size-lg: 2rem;
$font-size-md: 1rem; 
$font-size-sm: 0.75rem; 
$font-size-xsm: 0.5rem;

$page-header: 2.5rem;
$section-header: 2rem;

$font-size-field: 1.25rem;
$font-size-emphasis: 1.5rem;

$base-field-width: 300px;

$page-margin: 10%;

$element-spacing: 2rem;
$element-small-spacing: 1rem;

$box-radius: 10px;
$box-border: thin black solid;