<p class='item-edit--header'>{{modalName}}</p>
<div>
  <mat-form-field class='item-edit--field'>
    <input matNativeControl type='text' placeholder='Item Name' [(ngModel)]="item.name">
  </mat-form-field>
  <mat-form-field class='item-edit--field'>
    <input matNativeControl type='number' min=0 placeholder='Weight' [(ngModel)]="item.weight">
  </mat-form-field>
  <mat-form-field class='item-edit--field'>
    <mat-label>Rarity</mat-label>
    <mat-select [(ngModel)]='item.rarity'>
      <mat-option *ngFor="let rarity of raritySelectMap" [value]="rarity.value">
        {{rarity.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox class="item-edit--field" [(ngModel)]="item.requiresAttunement">Requires Attunement</mat-checkbox>
  <mat-checkbox class="item-edit--field" [(ngModel)]="item.equippable">Equippable</mat-checkbox>
  <mat-form-field class='item-edit--field'>
    <textarea class='item-edit--description' matNativeControl placeholder='Item Description' [(ngModel)]="item.description"></textarea>
  </mat-form-field>
  <button class='item-edit--save' mat-raised-button color=primary (click)='addItem()'>Save</button>
  <button class='item-edit--delete' mat-raised-button color=error (click)='deleteItem()'>{{addMode ? 'Cancel' : 'Delete'}}</button>
</div>