@import '../../../../globals.scss';

.character-edit {
  &--header {
    font-size: $section-header;
    width: 100%;
    margin-bottom: 0;
  }

  &--combat-stats {
    margin-top: $element-spacing;
    margin-bottom: $element-spacing;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &--field {
    font-size: $font-size-field;
    margin: $element-small-spacing;
  }

  &--text {
    font-size: $font-size-field;
    margin: $element-small-spacing;
    border: $box-border;
    border-radius: $box-radius;
    padding: $element-small-spacing;
    display: inline-block;
    align-self: center;
  }
}